<table>
	<tr>
		<td >name</td>
		<td >priority</td>
		<td >completed</td>
		<td>TaskList</td>
	</tr>
<% @tasks.each do |tasks| %>
	<tr>

		<td><%= tasks.name %></td>
		<td><%= tasks.priority %></td>
		<td><%= tasks.completed %></td>
		<td><%= tasks.TaskList %></td>
		<td><%= link_to “show tasks”, tasks_path(tasks.id) %> </td>
		<td><%= link_to "edit tasks", edit_tasks_path(tasks.id) %> </td>
		<td><%= link_to "destroy user", method: :delete %
		
</td>
	</tr>
<% end %>
</table>